<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}"
      layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="page-hr-attend-list" class="card hidden">
    <h2 class="page-title">근태 목록</h2>
    <div class="stack">
        <a class="btn ghost" href="/hr/attendance.hr">↩ 통합 관리</a>
    </div>
    <table class="table mt16">
        <thead><tr><th>#</th><th>사번</th><th>이름</th><th>일자</th><th>출근</th><th>퇴근</th><th>상태</th><th>조치</th></tr></thead>
        <tbody id="attendList"></tbody>
    </table>
</div>
</body>
</html>