<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="AttachmentMapper">
    <resultMap id="attachmentResultSet" type="Attachment">
        <result column="atch_id" property="atchId"/>
        <result column="ref_type" property="refType"/>
        <result column="origin_name" property="originName"/>
        <result column="change_name" property="changeName"/>
        <result column="upload_date" property="uploadDate"/>
        <result column="up_emp_no" property="uploadEmpNo"/>
        <result column="file_status" property="fileStatus"/>
    </resultMap>

    <insert id="insertFile">
        <selectKey keyProperty="atchId" resultType="string" order="BEFORE">
            select 'ATCH'|| LPAD(SEQ_ATCH.NEXTVAL, 4, '0')
            FROM dual
        </selectKey>

        insert
            into tb_attachment
             (
               atch_id
             , ref_type
             , origin_name
             , change_name
             , up_emp_no
             , file_status
              )
             values
             (
               #{atchId}
             , #{refType}
             , #{originName}
             , #{changeName}
             , #{uploadEmpNo}
             , #{fileStatus}
             )
    </insert>

    <select id="selectProfile" resultMap="attachmentResultSet">
        select
               atch_id
             , ref_type
             , origin_name
             , change_name
             , upload_date
             , up_emp_no
             , file_status
          from tb_attachment
         where up_emp_no = #{empNo}
           and ref_type = 'F'
           and file_status = 'U'

    </select>

    <update id="updateFile" parameterType="Attachment">
        update tb_attachment
        set file_status = #{fileStatus}
        where atch_id = #{atchId}
    </update>

    <update id="demoteAllToLByEmp" parameterType="string">
        update tb_attachment
        set file_status = 'L'
        where up_emp_no = #{empNo}
        and ref_type   = 'F'
        and file_status = 'U'
    </update>

    <select id="selectModifyProfile" resultMap="attachmentResultSet">
        select atch_id, ref_type, origin_name, change_name, upload_date, up_emp_no, file_status
        from (
        select a.*,
        row_number() over (
        order by a.upload_date desc, a.atch_id desc
        ) as rn
        from tb_attachment a
        where a.up_emp_no  = #{empNo}
        and a.ref_type   = 'F'
        and a.file_status = 'L'
        )
        where rn = 1

    </select>


</mapper>