<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="messageMapper">

    <!-- 수신함 메시지 목록 조회 -->
    <select id="selectInboxMessages" resultType="map">
        select * from (
        select rownum rnum, sub.* from
            (
            select
                   mb.msg_id as "msgId"
                 , mb.title as "title"
                 , coalesce(e.emp_lname || e.emp_name, mb.sender_no) as "senderName"
                 , mb.send_date as "sendDate"
                 , mr.read_yn as "readYn"
                 , mr.import_yn as "importYn"
              from tb_message_box mb
              join tb_message_rcpt mr on mb.msg_id = mr.msg_Id
              left join tb_employee e on mb.sender_no = e.emp_no
             where mr.receiver_no = #{receiverNo, jdbcType=VARCHAR}
               and mr.del_yn = 'N'
            <if test="filter == 'unread'">
                and mr.read_yn = 'G'
            </if>
            <if test="filter == 'important'">
                and mr.import_yn = 'Z'
            </if>
             order by mb.send_date desc
            ) sub
         where rownum &lt;= #{offset} + #{pageSize}
        )
         where rnum &gt; #{offset}
    </select>

    <!-- 수신함 메시지 개수 -->
    <select id="selectInboxMessageCount" resultType="int">
        select count(*)
          from tb_message_box mb
          join tb_message_rcpt mr on mb.msg_id = mr.msg_id
         where mr.receiver_no = #{receiverNo}
           and mr.del_yn = 'N'
        <if test="filter == 'unread'">
            and mr.read_yn = 'G'
        </if>
        <if test="filter == 'important'">
            and mr.import_yn = 'Z'
        </if>
    </select>

    <!-- 메시지 상세 조회 -->
    <select id="selectMessageDetail" resultType="map">
        select
               mb.msg_id as "msgId"
             , mb.sender_no as "senderNo"
             , coalesce(e.emp_lname || e.emp_name, mb.sender_no, '알 수 없음') as "senderName"
             , coalesce(mb.title, '제목 없음') as "title"
             , coalesce(mb.content, '내용 없음') as "content"
             , mb.send_date as "sendDate"
             , mr.read_yn as "readYn"
             , mr.import_yn as "importYn"
          from tb_message_box mb
          join tb_message_rcpt mr on mb.msg_id = mr.msg_id
          left join tb_employee e on mb.sender_no = e.emp_no
         where mb.msg_id = #{msgId}
           and mr.receiver_no = #{receiverNo}
           and mr.del_yn = 'N'
    </select>

    <!-- 읽음 상태 업데이트 -->
    <update id="updateReadStatus">
        update tb_message_rcpt
           set read_yn = 'S'
         where msg_id = #{msgId} and receiver_no = #{receiverNo}
    </update>


    <!-- 중요도 상태 조회 -->
    <select id="selectImportantStatus" resultType="string">
        select import_yn
          from tb_message_rcpt
         where msg_id = #{msgId} and receiver_no = #{receiverNo}
    </select>

    <!-- 중요도 상태 업데이트 -->
    <update id="updateImportantStatus">
        update tb_message_rcpt
           set import_yn = #{importYn}
         where msg_id = #{msgId} and receiver_no = #{receiverNo}
    </update>

    <!-- 메시지박스 삽입 -->
    <insert id="insertMessageRcpt">
        insert into tb_message_rcpt (msg_id, receiver_no, del_yn)
        values (#{msgId}, #{receiverNo}, 'N')
    </insert>


    <!-- 현재 메시지 ID 조회 -->
    <select id="selectCurrMessageId" resultType="string">
        select 'MSG' || lpad(seq_msg.currval, 4, '0') from dual
    </select>

    <!-- 전체 사원 조회 -->
    <select id="findAllEmployees" resultType="com.kh.mvidia.employee.model.vo.Employee">
        select e.emp_no as empNo
             , e.emp_name as empName
             , e.emp_lName as empLName
             , d.dept_name as deptName
             , j.job_name as jobName
        from tb_employee e
        left join tb_department d on e.dept_code = d.dept_code
        left join tb_job j on e.job_code = j.job_code
        where e.emp_status ='H'
        order by e.emp_name
    </select>

    <!-- 발신함 메시지 목록 조회 -->
    <select id="selectOutboxMessages" resultType="map">
        select * from
             (
                select rownum rnum
                     , sub.* from
                     (
                        select
                               ROW_NUMBER() OVER (ORDER BY mb.send_date DESC) as displayNo
                             , mb.msg_id as "msgId"
                             , mb.title as "title"
                             , mb.send_date as "sendDate"
                             , mb.content as "content"
                             , (select count(*) from tb_message_rcpt r where r.msg_id = mb.msg_id) as "receiverCount"
                             , coalesce(e.emp_lname || e.emp_name , r.receiver_no) as "firstReceiverName"
                          from tb_message_box mb
                          left join (
                                    select msg_id
                                         , receiver_no
                                         , row_number() over(partition by msg_id order by receiver_no) as rn
                                      from tb_message_rcpt
                                     where del_yn = 'N'
                                    ) r on mb.msg_id = r.msg_id and r.rn = 1
                          left join tb_employee e on r.receiver_no = e.emp_no
                         where mb.sender_no = #{senderNo}
                           and mb.del_yn = 'N'
                         order by mb.send_date desc
                     ) sub
                 where rownum &lt;= #{offset} + #{pageSize}
             )
         where rnum &gt; #{offset}
    </select>


    <!-- 발신함 메시지 개수 조회 -->
    <select id="selectOutboxMessageCount" resultType="int">
        select count(*)
          from tb_message_box
         where sender_no = #{senderNo}
           and del_yn = 'N'
    </select>

    <!-- 발신 메시지 상세 조회 -->
    <select id="selectSentMessageDetail" resultType="map">
        select
               mb.msg_id as "msgId"
             , mb.title as "title"
             , mb.content as "content"
             , mb.send_date as "sendDate"
          from tb_message_box mb
         where mb.msg_id = #{msgId}
           and mb.del_yn = 'N'
    </select>

    <!-- 발신 메시지 수신자 조회 -->
    <select id="selectMessageReceivers" resultType="map">
        select
               mr.receiver_no as "empNo"
             , coalesce(e.emp_lname || e.emp_name, mr.receiver_no) as "empName"
          from tb_message_rcpt mr
          left join tb_employee e on mr.receiver_no = e.emp_no
         where mr.msg_id = #{msgId}
           and del_yn = 'N'
    </select>

    <insert id="insertMessageBox">
        INSERT INTO tb_message_box (msg_id, sender_no, title, content, send_date, del_yn)
        VALUES ('MSG' || LPAD(SEQ_MSG.NEXTVAL, 4, '0'),
        #{senderNo}, #{title}, #{content}, SYSDATE, 'N')
    </insert>

    <!-- 수신자가 삭제 -->
    <update id="deleteInboxMessage">
        update tb_message_rcpt
        set del_yn = 'Y'
        where msg_id = #{msgId}
        and receiver_no = #{receiverNo}
    </update>

    <!-- 발신자가 삭제 -->
    <update id="deleteOutboxMessage">
        update tb_message_box
        set del_yn = 'Y'
        where msg_id = #{msgId}
          and sender_no = #{senderNo}
    </update>

</mapper>
