<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="prodboardMapper">

    <!-- 1. 최근 등록된 불량 제품 리스트 (상태가 'R' 아닌 것) -->
    <select id="selectRecentDefective" resultType="map">
        select *
        from (
        select d.def_no,
        d.prod_code,
        p.prod_name,
        t.def_type,
        to_char(d.occur_date,'YYYY-MM-DD') as occur_date,
        d.def_status,
        d.remarks
        from tb_defective_production d
        left join tb_production_quality p on p.prod_code = d.prod_code
        left join tb_defective_type t on t.def_code = d.def_code
        where d.def_status != 'R'
        order by d.occur_date desc
        )
        where rownum &lt;= 10
    </select>

    <!-- 2. 요약 지표 -->
    <select id="selectSummary" resultType="map">
        select
        (select count(*)
        from tb_production_quality) as prod_count,

        (select count(*)
        from tb_defective_production) as defective_count,

        round(
        (select count(*)
        from tb_defective_production)
        / (select count(*)
        from tb_production_quality) * 100, 2
        ) as defective_rate,

        (select count(*)
        from tb_schedule_registration) as check_count
        from dual
    </select>

    <!-- 3. 주요 작업 진행 현황 Top 5 -->
    <select id="selectTop5Prog" resultType="map">
        SELECT *
        FROM (
        SELECT BP_PARTNER AS company,
        ROUND(AVG(
        CASE
        WHEN DEF_STATUS = 'P' THEN 100
        WHEN DEF_STATUS = 'W' THEN 0
        WHEN DEF_STATUS = 'K' THEN 50
        ELSE 100
        END
        ), 2) AS progress
        FROM TB_DEFECTIVE_PRODUCTION
        GROUP BY BP_PARTNER
        ORDER BY progress DESC
        )
        where rownum &lt;= 5
    </select>

</mapper>