<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>productListView</title>
</head>
<body>

    <div class="content">
        <h2>생산 제품 조회 </h2>
    </div>

    <input type="text" id="searchBox" placeholder="제품코드 또는 제품명을 검색하시오.">

    <datalist id="productList"></datalist>

    <script th:inline="javascript">
        /*<![CDATA[*/
        const products = /*[[${productList}]]*/ [];
        const dataList = document.getElementById('productList');

        products.forEach(p => {
            const option = document.createElement('option');
            option.value = p.prodCode + " | " + p.prodName;
            dataList.appendChild(option);
        });

        document.getElementById('searchBox').setAttribute('list', 'productList');
        /*]]>*/
    </script>

    <div class="prodList">
        <table>
            <thead>
                <tr>
                    <th>제품코드</th>
                    <th>제품명</th>
                    <th>단가</th>
                    <th>재고수량</th>
                    <th>재고상태</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="p : ${list}">
                    <td th:text="${p.prodCode}"></td>
                    <td th:text="${p.prodName}"></td>
                    <td th:text="${p.price}"></td>
                    <td th:text="${p.stock}"></td>
                    <td th:text="${p.statusName}"></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>